.miguel {
  max-width: 300px;
  max-height: 400px;
}

#parents {
  max-width: 300px;
  max-height: 250px;
}

#lucky {
  max-width: 300px;
  max-height: 300px;
}

#jake {
  max-width: 300px;
  max-height: 300px;
}