h1 {
  color: #0000ff;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p{
  font-family: sans-serif;
}

ul{
  font-size: 20px;
  line-height: 30px;
}

.miguel {
  max-width: 300px;
  max-height: 400px;
}

#parents {
  max-width: 300px;
  max-height: 250px;
}

#lucky {
  max-width: 300px;
  max-height: 300px;
}

#jake {
  max-width: 300px;
  max-height: 300px;
}